---
import Section from "../Section.astro"
import { skills } from "@cv"
import SkillsList from "../SkillsList.astro";


---

<Section title="Habilidades">    
  <SkillsList title="" skills={skills} ></SkillsList>  
</Section>


